form.name-form {
	position: absolute;
	width: 100%;
	top: 40%;
}

form.name-form > input{
	margin: 0 auto;
}

form.name-form input.btn {
	display: block;
	margin-top: 5px;
}

form.name-form input.form-control{
	width: 50%;
}

form.chat-form {
	position: fixed;
	width: 100%;
	bottom : 10px;
}

li {
	list-style: none;
}