/*
 * name.html
 */

form.name-form {
	position: absolute;
	width: 100%;
	top: 40%;
}

form.name-form > input {
	margin: 0 auto;
}

form.name-form input.btn {
	display: block;
	margin-top: 5px;
}

form.name-form input.form-control {
	width: 50%;
}

/*
 * chat.html
 */

form.chat-form {
	position: fixed;
	width: 100%;
	bottom : 20px;
}

form.chat-form input.form-control {
	width: 80%;
	margin: 0 auto;
}

form.chat-form input.btn {
	display: none;
}

li {
	list-style: none;
}

/*
 * room.html
 */

 form.room-form {
	margin-top: 10%;
	margin-bottom: 10%;
 }

 form.room-form input.form-control {
 	display: inline-block;
 	width: 30%;
 }
 .lbl-warn {
 	color : red;
 }