<div ng-controller="roomCtrl">
	<h3>Welcom, {{ userName }} !!</h3>

	<form class='room-form' ng-submit="createRoom()">
		<input class="form-control" type="text" ng-model="roomName" placeholder="Room Name">
		<input class="btn btn-primary" type="submit" value="Create">
		<label class="lbl-warn">{{ errorMessage }}</label>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th>Room Name</th>
				<th>Creator</th>
				<th>Participants</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="room in rooms">
				<td>{{ room.roomName }}</td>
				<td>{{ room.creator }}</td>
				<td>{{ room.participants }}</td>
				<td><button class="btn btn-success" ng-click="joinRoom(room.roomName)">Join</button></td>
			</tr>
		</tbody>	
</div>